<div class="box">
  <div class="box1">
    <div id="mySlider" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#mySlider" data-slide-to="0" class="active"></li>
        <li data-target="#mySlider" data-slide-to="1"></li>
        <li data-target="#mySlider" data-slide-to="2"></li>
        <li data-target="#mySlider" data-slide-to="3"></li>
        <li data-target="#mySlider" data-slide-to="4"></li>
        <li data-target="#mySlider" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
          <img src="../../assets/pictures/boots.jpg" alt="" class=" w-100">
        </div>
        <div class="carousel-item" data-interval="4000">
          <img src="../../assets/pictures/sneack.jpg" alt="" class="d-block w-100 ">
        </div>
        <div class="carousel-item" data-interval="4000">
          <img src="../../assets/pictures/js.jpg" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item" data-interval="4000">
          <img src="../../assets/pictures/collection.jpg" alt="" class="d-block w-100 ">
        </div>
        <div class="carousel-item" data-interval="4000">
          <img src="../../assets/pictures/collection2.jpg" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item" data-interval="5000">
          <img src="../../assets/pictures/sweaters.jpg" alt="" class="d-block w-100 ">
        </div>
      </div>
      <a href="#mySlider" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a href="#mySlider" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="box2">
    <h3>About Brand</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde beatae distinctio libero officiis rem ab laborum voluptas tenetur omnis ducimus! Sint maxime deserunt dignissimos sed velit et ipsam temporibus odit?
    Nisi ducimus eveniet magni recusandae eum enim ab nesciunt? Illo earum expedita quo perferendis voluptatibus, dolorem, accusantium, eligendi sit esse magni ex modi blanditiis nemo nulla explicabo error impedit corrupti.
    Minima eius illo nulla nemo aliquam dicta, possimus, animi est in nostrum optio sit mollitia quam? Omnis explicabo ipsa, possimus delectus eaque doloremque placeat tempora corrupti obcaecati, ullam illo minima!
    Alias corporis voluptas earum quia pariatur officiis blanditiis id? Non deserunt, vero laboriosam maiores corporis veniam corrupti tempora veritatis officia cum pariatur ipsam illo libero consequuntur in incidunt minima! Repudiandae.
    Atque, deserunt! Modi quam dolor illo unde ullam veniam. Deserunt aspernatur excepturi optio, quis assumenda iure, fuga deleniti nisi maxime doloremque praesentium aliquid. At quae odit fugit unde rerum reprehenderit.
    </p>
  </div>
</div>